.idea
__pycache__
/load_dataset_paths.json
*.csv
*.rnx
*.crx
*.SP3
*.sp3
*.clk
*.CLK
*.prof
*.json*
*/tmp_*
/bin/act
/GSDC2021/
**/diskcache/**
*.DS_Store
*.png
*.pkl
**/tmp_test*/*
**.profile
**.pstat
