.idea
__pycache__
/load_dataset_paths.json
*.csv
*.prof
*.json*
*/tmp_*
/src/prx/test/datasets/TLSE_2022001/BRDC00IGS_R_20220010000_01D_MN.rnx
/src/prx/test/datasets/TLSE_2022001/BRDC00IGS_R_20220010000_01D_GN.rnx
/src/prx/test/datasets/TLSE_2022001/BRD400IGS_S_20220010000_01D_MN.rnx
/src/prx/test/datasets/TLSE_2022001/TLSE00FRA_R_20220010000_01D_30S_MO.rnx
/src/prx/test/datasets/TLSE_2022001/TLSE00FRA_R_20220010000_01D_30S_GO.rnx
/src/prx/test/datasets/TLSE_2023001/NIST00USA_R_20230010000_01D_30S_MO.crx.gz
/bin/act
/GSDC2021/
**/diskcache/**
*.DS_Store
*.png
*.pkl
**/tmp_test*/*
**.profile
**.pstat
