[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.25.0"
pandas = ">=1.5.3"
pytest = ">=6.2.5"
georinex = ">=1.16.1"
gnss-lib-py = "==0.1.8"
gitpython = ">=3.1.31"
joblib = ">=1.3.1"
memoization = "*"
lxml = "*"
html5lib = "*"
earthdata-download = {editable = true, git = "https://github.com/DHI-GRAS/earthdata-download.git"}
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
