[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.1.1"
numpy = ">=1.26.0"
joblib = ">=1.3.2"
imohash = "*"
georinex = {editable = true, ref = "d131cc54a3e483d0b5759edbf612c73a6bdcd14e", git = "git+https://github.com/jtec/georinex.git"}
flake8 = "*"
dotmap = "*"
pytest = "*"
gitpython = "*"
scipy = "*"
matplotlib = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
