[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.1.1"
numpy = ">=1.26.0"
georinex = ">=1.16.1"
joblib = ">=1.3.2"
imohash = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
