[tool.poetry]
name = "prx"
version = "0.0.1"
description = "Making raw GNSS data more accessible"
authors = [
    "Jan Bolting <janbolting@gmail.com>",
    "Paul Thevenon <paul.thevenon@gmail.com>",
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
pandas = "^2.2.3"
numpy = "^2.1"
joblib = "^1.4.2"
imohash = "^1.1.0"
georinex = { git = "https://github.com/geospace-code/georinex.git", rev = "95ef1d8e7150f998a1b5a429090cadb429128648" }
flake8 = "^7.1.1"
dotmap = "^1.3.30"
pytest = "^8.3.3"
gitpython = "^3.1.41"
scipy = "^1.14.1"
matplotlib = "^3.9.2"
pytest-xdist = "^3.5.0"
ruff = "^0.7.3"
snakeviz = "^2.2.2"
astropy = "^6.1.6"
setuptools = "^75.5.0"
viztracer = "^0.17.0"
plotly = "^5.24.1"
line-profiler = "^4.1.3"
requests = "^2.32.3"

[tool.pytest]
log_cli_level = "INFO"
log_cli = 1

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
