[tool.poetry]
name = "prx"
version = "0.0.1"
description = "Making GNSS positioning a bit more accessible"
authors = ["Jan Bolting <janbolting@gmail.com>", "Paul Thevenon <paul.thevenon@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12.1"
pandas = "^2.2.0"
numpy = "^1.26.3"
joblib = "^1.3.2"
imohash = "^1.0.5"
georinex = { git = "https://github.com/geospace-code/georinex.git", rev = "95ef1d8e7150f998a1b5a429090cadb429128648" }
flake8 = "^7.0.0"
dotmap = "^1.3.30"
pytest = "^8.0.0"
gitpython = "^3.1.41"
scipy = "^1.12.0"
matplotlib = "^3.8.2"
pytest-xdist = "^3.5.0"
ruff = "^0.3.3"
snakeviz = "^2.2.0"
astropy = "^6.0.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
