name: prx tests

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"
      - "v[0-9]+.[0-9]+.[0-9]+*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4

      - name: "Install uv"
        uses: astral-sh/setup-uv@v6

      - name: Create virtual environment
        run:
          uv sync

      - name: Run ruff
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          uv run ruff check --exit-non-zero-on-fix
          uv run ruff format --check

      - name: Test with pytest
        run: |
          make test
 
