name: Python package

on: [ push, pull_request ]

jobs:
  linux-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12.1" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: 1.7.1
      - name: Cache Poetry
        uses: actions/cache@v4
        with:
          path: |
            ~/.local
            ~/.cache/pypoetry
          key: poetry-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Create virtual environment with poetry
        run:
          poetry install
      - name: Run ruff
        run: |
          poetry run ruff check --exit-non-zero-on-fix
          poetry run ruff format --check
      - name: Test with pytest
        run: |
          poetry run pytest -n auto --dist=loadfile --durations=10
  windows-ci:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ "3.12.1" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: 1.7.1
      - name: Cache Poetry
        uses: actions/cache@v4
        with:
          path: |
            ~/.local
            ~/.cache/pypoetry
          key: poetry-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Create virtual environment with poetry
        run:
          poetry install
      - name: Test with pytest
        run: |
          poetry run pytest -n auto --dist=loadfile --durations=10
  macos-ci:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [ "3.12.1" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: 1.7.1
      - name: Cache Poetry
        uses: actions/cache@v4
        with:
          path: |
            ~/.local
            ~/.cache/pypoetry
          key: poetry-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Create virtual environment with poetry
        run:
          poetry install
      - name: Test with pytest
        run: |
          poetry run pytest -n auto --dist=loadfile --durations=10
